<section class="movie-overview" *ngIf="doneLoading">
  <section class="movie-overview__search">
    <mat-form-field class="search__form">
      <input matInput placeholder="welke film ga je vanavond checken?" (keyup)="searchTerm$.next($event.target.value)" />
    </mat-form-field>
  </section>
  <section class="movie-overview__filter">
    <span>Lastig he? Specificeer je zoekresultaten.</span> <br />
    <button mat-raised-button class="filter__btn" (click)="toggleCategoryFilter()">Categorie</button>
    <section class="filter__select">
      <div [hidden]="!isShow" class="select__genres" *ngFor="let genre of genres">
        <mat-checkbox (change)="filterByGenre(genre.id)" value="{{ genre.id }}">{{ genre.name }}</mat-checkbox>
      </div>
    </section>
  </section>
  <h2>Resultaten. {{ filteredMovies.length }}</h2>
  <section class="movie-overview__movies">
    <ng-container *ngIf="filteredMovies && filteredMovies.length > 0">
      <ng-container *ngFor="let movie of filteredMovies | slice: 0:20">
        <div class="movies__item">
          <img
            class="item__image"
            src="{{ posterBaseUrl }}{{ movie.poster_path }}"
            onerror="src = './../../../assets/images/movie_image_fallback.png';"
          />
          <div class="item__info">
            <h3>{{ movie.title }}</h3>
            <span class="info__icon-star"><i class="material-icons"> star </i>{{ movie.vote_average }}</span>
            <br />
            <div class="info__genres">
              <span *ngFor="let id of movie.genre_ids">{{ getGenreById(id) }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!filteredMovies || filteredMovies.length === 0">
      Oh nee! Er zijn geen resultaten gevonden. Probeer een andere zoekterm of filterterm!
    </ng-container>
  </section>
</section>
